

	<!-- MAIN CONTENT -->
	


					<!-- CALLING THIS 'HERO GAMES' - GAMES TO SHOWCASE -->

					<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="carousel-caption d-none d-md-block">
								<h5>Grand Theft Auto IV</h5>
							</div>
						<img class="d-block w-100" src="./images/gta.jpg" alt="First slide">
							
						</div>
						<div class="carousel-item">
							<div class="carousel-caption d-none d-md-block">
								<h5>Fallout 3</h5>
							</div>

						<img class="d-block w-100" src="./images/fo3.png" alt="Second slide">
						</div>
						<div class="carousel-item">
							<div class="carousel-caption d-none d-md-block">
								<h5>Metal Gear Solid 4: Guns of the Patriots</h5>							
							</div>
						<img class="d-block w-100" src="./images/mgs4.jpg" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
					</div>

<!-- END ROW 1 -->
			<div class='row'>
				<div class='col-md-4'>

					<!-- TOP 10 REVIEWED GAMES LIST -->

					<div class='content-best-games'>
						<div class='card home'>
							<div class='card-header'>
								Best reviewed games!
							</div>
							<ul class='list-group game-list' id='best-games-list'>
								{{#each topTen}}
								<li class='list-group-item game'>
									<span class='small-potato'><img src = "{{image_swap_sm this.reviews_tables.0.average}}"></span>
									<a href="/games/{{this.id}}">{{this.name}}</a>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>

				<div class='col-md-4'>

					<!-- WORST 10 GAMES LIST -->

					<div class='content-worst-games'>

						<div class='card home'>
							<div class='card-header'>
								Worst reviewed games!
							</div>
							<ul class='list-group game-list' id='best-games-list'>
								{{#each worstGames}}
									<li class='list-group-item game'>
										<span class='small-potato'><img src = "{{image_swap_sm this.reviews_tables.0.average}}"></span>
										<a href="/games/{{this.id}}">{{this.name}}</a>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>

				<div class='col-md-4'>

					<!-- NEW GAMES LIST -->

					<div class='content-new-games'>
						<div class='card home'>
							<div class='card-header'>
								New games!
							</div>
							<ul class='list-group game-list' id='new-games-list'>
								<li class='list-group-item game'>
									<span class='badge badge-secondary'>1.15.18</span>
									<a href="">new game 1</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge badge-secondary'>1.18.18</span>
									<a href="">new game 2</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge badge-secondary'>2.1.18</span>
									<a href="">new game 3</a>
								</li>
								<li class='list-group-item game'>
									<span class='badge badge-secondary'>3.5.18</span>
									<a href="">new game 4</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>  <!-- END ROW 2 -->
		</div> <!-- END CONTAINER -->
	</div> <!--  END MAIN CONTENT -->
		{{!-- <script src="./public/js/all.js" type="text/javascript"></script> --}}