{{!-- Swapping header based on whether user is looged in --}}
{{#if loggedin}}
    {{> header_loggedin}}
{{else}}
    {{> header}}
{{/if}}

{{!-- Display game title search results --}}
{{#each games}}

	<div class='card'>
		<div class='card-header'>
				<h4>
					{{this.name}}
				</h4>
		</div>
			<ul class = "list-group list-group-flush">
				<li class = "list-group-item">
					<img src="{{this.image_thumbnail}}" alt="Game Thumbnail">
				</li>
				<li class = "list-group-item">
					Original Release Date: {{this.original_release_date}}
				</li>
				<li class = "list-group-item">
					Platforms: {{this.platforms}}
				</li>
				
			</ul>
	</div>
{{/each}}
		




