{{#if loggedin}}
        {{> header_loggedin}}
{{else}}
        {{> header}}
{{/if}}
         
         
<h3>Individual reviews for {{gameData.name}}>></h3><br>

<h6>Game Description:</h6>{{gameData.description}}<br><br>

{{#each gameReviews}}
    <div class = "row">
        <div class = "col-md-6">
            <div class="card reviews">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h7>Comment:</h7></li>
                <li class="list-group-item">{{this.comment}}</li>
            </ul>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="card reviews">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h7>Graphics Rating: <span class="badge badge-secondary">{{this.graphics_rating}}</span></h7></li>
                <li class="list-group-item"><h7>Game Play Rating: <span class="badge badge-secondary">{{this.game_play_rating}}</span></h7></li>
                <li class="list-group-item"><h7>Replayability: <span class="badge badge-secondary">{{this.replayability}}</span></h7></li>
                <li class="list-group-item"><h7>Soundtrack: <span class="badge badge-secondary">{{this.soundtrack}}</span></h7></li>
                <li class="list-group-item"><h6>Overall Rating: <span class="badge badge-secondary">{{this.average}}</span></h6></li>
            </ul>
            </div>
        </div>
    </div>
{{/each}}

