

  	 {{#if loggedin}}
    	{{> header_loggedin}}
  	 {{else}}
    	{{> header}}
  	 {{/if}}

{{!-- <p>test</p> --}}


<h1>{{user.email}}</h1>
<h1>{{user.firstname}}</h1>
<h1>{{user.lastname}}</h1>


{{#each reviewsList}}
	 <ul class="list-group list-group-flush">
        <li class="list-group-item"><h7>Graphics Rating: <span class="badge badge-secondary">{{this.graphics_rating}}</span></h7></li>
        <li class="list-group-item"><h7>Game Play Rating: <span class="badge badge-secondary">{{this.game_play_rating}}</span></h7></li>
        <li class="list-group-item"><h7>Replayability: <span class="badge badge-secondary">{{this.replayability}}</span></h7></li>
        <li class="list-group-item"><h7>Soundtrack: <span class="badge badge-secondary">{{this.soundtrack}}</span></h7></li>
        <li class="list-group-item"><h6>Overall Rating: <span class="badge badge-secondary">{{this.average}}</span></h6></li>
        <li class="list-group-item"><h6>Overall Rating: <span class="badge badge-secondary">{{this.game_table.name}}</span></h6></li>
        
    </ul>
{{/each}}
